#question {
	margin-bottom: 10px;
}

h2 {
	margin-bottom: 30px;
}

#start {
	margin-top: 25px;
}

.goodColor {
	color: #00cc44;
	font-weight: bold;
}

.badColor {
	color: #ff0000;
	font-weight: bold;
}